<ol class='post-list'>
    {{#each posts}}
    <li>
        <article class='post'>
            <div class='title'>
                <a href="/post/{{id}}"><strong>{{title}}</strong></a>
                <span class='meta'>posted by
                    <strong>{{user.username}}</strong>
                    on
                    {{created_at}}</span>
            </div>
            <div class='post-content'>
                {{content}}
            </div>
        </article>
    </li>
    {{/each}}
</ol>