<article class='post'>
    <div class='title'>
        <span><strong>{{post.title}}</strong></span>
        <span class='meta'>posted by
            <strong>{{post.user.username}}</strong>
            on
            {{format_date post.created_at}}</span>
    </div>
    <div class='post-content'>
        {{post.content}}
    </div>
</article>

<div class='comments-num'>
    <strong>{{post.comments.length}} {{format_plural "comment" post.comments.length}}</strong>
</div>

{{#if loggedIn}}
    <form id='comment-form' class='comment-form'>
        <div>
            <textarea name='comment-body' class='form-control'></textarea>
        </div>
        <div>
            <button type='submit' class='btn'>add comment</button>
        </div>
    </form>
{{/if}}

<div class='comments'>
    {{#each post.comments}}
        <section class='comment'>
            <div class='comment-title'>
                <strong>{{user.username}}</strong>
                on
                {{format_date created_at}}
            </div>
            <div class='comment-text'>
                {{comment_text}}
            </div>
        </section>
    {{/each}}
</div>

{{#if loggedIn}}
    <script src="/javascript/comment.js"></script>
{{/if}}